*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(../..//imagenes/fondo3.jpg);
    
}
main{
    width: 100%;
    height: auto;
    position: absolute;
}
header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    
}
.content-all{
    width: 100%;
    max-width: 1000px;
    background: #17A086;
    margin: auto;
    margin-top: 80px;
    border: 2px solid white;
}
#check{
    display: none;
    width: 50px;
}

#check:checked ~ .menu{
    width: 400px;
}

.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
    background: #2D3E50;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    
}
.menu li{
    list-style: none;
    padding: 13px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 400px;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}



.content-all label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    
    cursor: pointer;
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.content-all h2{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    text-align: right;
    color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.menu li a{
     color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.retraso-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

img{
   text-align: right;
}




